/* CSS RESET */
/* Definindo o estilo global para remover o padding e margin padrão */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* Importando a fonte principal do site*/

body{
    font-family: "Shrikhand", serif;
}

/* Estilo da barra de informações no topo da página */
.info-bar{
    font-weight: 700;
    font-size: 14px;
    background-color: #131313;
    
}
/* Centralizando o conteúdo da info-bar */
.container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    color: white;
    background-color: #131313;
    padding: 20px;
    align-items: center;
}
/* Estilizando para texto e cor de ícones na infor-bar */
.info-bar .CompraSegura{
    color: white;
    font-size: 15px;
}

.info-bar .FreteGratis{
    color: white;
    font-size: 15px;
}

.info-bar .Entrgemos{
    color: white;
    font-size: 15px;
}

.bi-lock-fill{
    color: orange;
}

.bi-truck{
    color: orange;
}

.bi-geo-alt-fill{
    color: orange;
}
/* Barra de navegação principal */
.nave-bar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
/* Definindo o tamanho logo da loja */
.nave-bar .HooperLogo{
    display: flex;
    justify-content: center;
    width: 100px;
    
    
}
/* Estilo dos botões da barra da nav-bar */
.nave-bar .BotaoLoja{
    font-family: "Shrikhand", serif;
    font-size: 15px;
    color: orange;
    background-color: black;
    border: none;
    cursor: pointer;
}
/* Adcionando o hover transparente e nos botões da nav-bar*/
.nave-bar .BotaoLoja:hover{
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10%;
}

.nave-bar .BotaoMinhaConta{
    font-family: "Shrikhand", serif;
    font-size: 15px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.nave-bar .BotaoMinhaConta:hover{
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10%;
}

.nave-bar .BotaoSobreNos{
    font-family: "Shrikhand", serif;
    font-size: 15px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

}

.nave-bar .BotaoSobreNos:hover {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10%;
}

.nave-bar .BotaoReclame {
    font-family: "Shrikhand", serif;
    font-size: 15px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.nave-bar .BotaoReclame:hover{
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10%;
}

.nave-bar .BotaoCarrinho{
    font-family: "Shrikhand", serif;
    font-size: 15px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.nave-bar .BotaoCarrinho:hover{
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10%;
}

.KobeBanner {
   width: auto;   
}
/* Estilo banner principal da loja*/
.KobeBanner img{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
/* Quebra de linha*/
.Hoop {
    background-color: #131313;
}

/* Definindo o container da linha de produtos (linha de tênis Kobe) */
.LineHoop {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
}

.Base {
    background-color: black;
    padding:10px;
}
/* Definindo o estilo da base de produtos */
.BaseCentralizada {
    width: auto;
}
/* Centralizando os elementos dentro da Base */
.BaseCentralizada {
    width: 1140px;
    height: 400px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    
}
/* Estilo para cada produto flutuante */
.flutuante, .flutuante2, .flutuante3, .flutuante4 {
    width: 200px;
    padding: 15px;
    background-color:#131313;
    border-radius: 8px;
    text-align: center;
}

/* Tamanho dos produtos */
.KobePurple {
    max-width: 100%;
}

.modelo {
    display: flex;
    justify-content: center;
}

.modelo p{
    color: orange;
}

.Caixin p{
    color: white;
}

.valores {
    display: flex;
    justify-content: center;
}

.valores p{
    color: orange;
}
/* Separador no rodapé */
.sep{
    background-color: #131313;
    height: 15px;
}
.finalpag{
    width: auto;
    display: flex;
    background-color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    
}

.contact{
    width: auto;
    display: flex;
    justify-content: space-around;
}

.contact{
    width: 1140px;
    background-color: rgb(65, 65, 65);
    height: 400px;
    margin: 0% auto;   
}

.contact .Atendimento {
    width: 200px;
    height: 100px;

}

.FormsPagamento {
    max-width: 300px;
    justify-items: center;
    text-align: center;

}

.FormsPagamento h1{
    color: orange;
    
}
.FormsPagamento img{
    width: 100%;
    height: 10%;
    object-fit: cover;
}

.contact .Atendimento{
    width: 300px;
    height: 100%;
}

.Atendimento{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.Atendimento h1{
    color: orange;
}
/*Colorindo bootstrap do Atendimento */
.bi-clock{
    color: white;
}

.bi-arrow-right-circle-fill {
    color: white;
}

.bi-whatsapp {
    color: white;
}

.bi-envelope {
    color: white;
}

.contact .midia {
    max-width: 300px;
    height: 100%;
}

.midia h1{
    color: orange;
    max-width: 100px;

}

.midia div{
    max-width:100px;
   
}
.midia img{
    width: 100%;
    height: 10%;
    object-fit: cover;

}